@import "./variables.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

main,
body {
  font-family: var(--font-main);
  color: var(--text-dark);
  margin: 0;
  padding: 0;
}

body::before,
body::after {
  content: "";
  position: fixed;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.35;
  z-index: -1;
}

body::before {
  top: -200px;
  left: -200px;
  background: radial-gradient(circle, #e8003a, transparent 60%);
}

body::after {
  bottom: -200px;
  right: -200px;
  background: radial-gradient(circle, #a90c2b, transparent 60%);
}

#root {
}

.page-container {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 40px 80px;
  padding-top: 24px;
  min-height: 100vh;

  /* background: linear-gradient(
    135deg,
    #fff0ee 0%,
    #ffd5cc 25%,
    #ffb09a 55%,
    #e8724a 80%,
    #fff0ee 100%
  ); */
}

.page-header {
  margin-bottom: var(--space-lg);
}

.page-title {
  font-size: var(--heading-xl);
  font-weight: 700;
  margin-bottom: var(--space-sm);
}

.page-description {
  font-size: var(--body-lg);
  color: var(--text-light);
  max-width: 600px;
  line-height: 1.6;
}
